<% provide(:titulo, "Log in") %>

<%= form_for(:session, url: login_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <p>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <p>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>

<% end %>
<%= link_to 'Sign up', "signup", class: "ui-btn ui-corner-all" %>
