<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <p>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <p>
    <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>
    <p>
      <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
      </div>
    <p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
