<% provide(:titulo, "User Profile") %>

<p id="notice"><%= notice %></p>

<div class="ui-body ui-body-a ui-corner-all">
  <h3>Name:
  <%= @user.name %></h3>

  <h3>Email:
  <%= @user.email %></h3>

<%= link_to 'Edit', edit_user_path(@user), class: "ui-btn ui-corner-all" %>

</div>

