<%= form_for @event, html: {multipart: true, "data-ajax"=> "false"} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :accessibility %>
    <%= f.select :accessibility, Event.accessibilities.keys %>
  </div>
  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>
  <div class="field date-select">
    <%= f.label :day %>
    <%= f.date_select :day %>
  </div>
  <div class="field hour-select">
    <%= f.label :hour %>
    <%= f.time_select :hour %>
  </div>
    <div class="field">
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
     <%= f.hidden_field :picture_cache %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

