<% provide(:titulo, "Events guests") %>

<p id="notice"><%= notice %></p>

<h1>Listing Guests</h1>

<div class="ui-body ui-body-a ui-corner-all">
<table data-role="table" class="ui-responsive">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>


  <% @event.guests.each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Invite', event_invite_path(@event), class: "ui-btn" %>
</div>