<% provide(:titulo, "Invite guests") %>

<div class="ui-body ui-body-a ui-corner-all">


<%= form_tag({controller: "events", action: "add"}, method: "post") do %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

        <b><%= label_tag(:email, "Write user's email:") %></b>
        <%= text_field_tag(:email) %>
        <%= submit_tag("Add") %>


<% end %>
</div>