<% provide(:titulo, "Events") %>

<p id="notice"><%= notice %></p>

<div class="ui-body ui-body-a ui-corner-all eventid">


  <h1 id="name-<%= @event.id %>"></h1>

  <% if @event.user_id == current_user.id %>
      <div class="ui-grid-a buttons">
        <div class="ui-block-a">
          <%= link_to "Edit", edit_event_path(@event), "data-role" => "button",
                      class: "ui-btn-corner-all ui-btn ui-icon-edit ui-btn-icon-notext ui-shadow" %>

        </div>
        <div class="ui-block-b">
          <%= link_to 'Destroy', @event, "data-role" => "button",
                      class: "ui-btn-corner-all ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow",
                      method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %>

        </div>
      </div>

  <% end %>

  <div id="event-<%= @event.id %>"></div>

  <%= link_to 'Invite?', event_invite_path(@event), class: "ui-btn ui-corner-all" %>
  <%= link_to 'Guests', show_guests_path(@event), class: "ui-btn ui-corner-all" %>
</div>