/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.mobile
 *= require_tree .
 *= require_self
  */


h1 a {
    text-decoration: none !important;
}

#img-event {
    -webkit-border-radius: .3125em /*{global-radii-buttons}*/;
    border-radius: .3125em /*{global-radii-buttons}*/;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #7c6a5a;
    display: block;
}

.event-thumb {
    float: left;
    border: 1px solid #7c6a5a  !important;
    display: block;
    margin-right: 10px;

}

.event {
    overflow: auto;
    display: block;
    margin: 10px 0;
}

.buttons .ui-block-a { width: auto !important;}
.buttons .ui-block-b { width: auto !important;}

.date-select .ui-select{
    position: relative;
    display: inline-block;
    width: 33%;
}
.hour-select .ui-select{
    position: relative;
    display: inline-block;
    width: 49.5%;
    margin: 0;
}

@media all and (max-width: 730px){
    .date-select .ui-select{
        position: relative;
        display: inline-block;
        width: 32.5%;
    }

    .hour-select .ui-select{
        position: relative;
        display: inline-block;
        width: 48%;
        margin: 0;
    }
}