<!DOCTYPE html>
<html manifest="/offline.appcache">
<head>
  <title>FaceToFace</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">


<div data-role="page" data-theme="b">
  <div data-role="header" role="banner" data-position="inline" class="ui-header ui-bar-a">
    <h1><%= yield :titulo %></h1>
  </div>
  <div class="ui-content" role="main">
    <%= yield %>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li> <%= link_to 'My events', events_path, class: "ui-btn ui-btn-icon-top ui-icon-search ui-btn-active", data: {ajax: "false"} %> </li>

        <li> <%= link_to 'Create', new_event_path, class: "ui-btn-icon-top ui-icon-grid ui-btn-active", data: {ajax: "false"} %> </li>

      </ul>
    </div>
  </div>

</div>
</body>
</html>
